<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
    <a class="navbar-brand" href="/todo">Navbar</a>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active " href="/admin/todo/task">Add Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/todo/category">Add Category</a>
        </li>
        </ul>
    </div>
</nav>

